@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", sans-serif;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-section {
  width: 100%;
}

@media (min-width: 860px) {
  .main-section {
    height: 100vh;
  }
}

.main-section h1 {
  padding: 0.2em 1em;
  margin: 0;
  font-weight: bold;
  color: white;
  margin: 0;
  padding: 40px;
  font-size: 1.5rem;
}

@media (min-width: 860px) {
  .main-section h1 {
    font-size: 3rem;
  }
}

.main-section__header {
  background: #1f33e2;
  height: 20vh;
  -webkit-clip-path: polygon(100% 0, 0 0, 0 100%);
          clip-path: polygon(100% 0, 0 0, 0 100%);
}

.main-section__footer {
  background: #1f33e2;
  height: 20vh;
  -webkit-clip-path: polygon(100% 100%, 100% 0, 0 100%);
          clip-path: polygon(100% 100%, 100% 0, 0 100%);
  color: white;
  position: relative;
}

.main-section__footer .next-section {
  color: #84b9ff;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 40px;
  font-size: 2rem;
}

@media (min-width: 860px) {
  .main-section__footer .next-section {
    font-size: 2.5rem;
  }
}

.intro {
  color: white;
  background: url("/img/me.jpg");
  background-size: cover;
  background-position: top right;
  background-repeat: no-repeat;
}

@media (min-width: 860px) {
  .intro {
    background-size: 50%;
  }
}

.intro h1 {
  font-size: 3rem;
}

@media (min-width: 860px) {
  .intro h1 {
    font-size: 3.5rem;
  }
}

.intro__container {
  height: 100vh;
  width: 100%;
  background: #1f33e2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-clip-path: polygon(5% 0%, 100% 80%, 100% 100%, 0 100%, 0 0);
          clip-path: polygon(5% 0%, 100% 80%, 100% 100%, 0 100%, 0 0);
}

@media (min-width: 860px) {
  .intro__container {
    -webkit-clip-path: polygon(50% 0%, 100% 80%, 100% 100%, 0 100%, 0 0);
            clip-path: polygon(50% 0%, 100% 80%, 100% 100%, 0 100%, 0 0);
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .intro__container p {
    font-size: 1.2rem;
  }
}

.intro__container h1, .intro__container p {
  padding-left: 20px;
  margin-right: 20vw;
}

.intro__container nav {
  font-size: 1.2rem;
}

.intro__container nav ul {
  list-style: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.intro__container nav ul a {
  color: #84b9ff;
}

.timeline,
.skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.timeline__main,
.skills__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 860px) {
  .timeline__main,
  .skills__main {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.timeline__main section,
.skills__main section {
  margin: 20px;
}

@media (min-width: 860px) {
  .timeline__main section,
  .skills__main section {
    width: 25%;
  }
}

.timeline__main section h2,
.skills__main section h2 {
  text-align: center;
}

.contact {
  background: #1f33e2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact .contact-links {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contact footer {
  color: white;
  text-align: center;
  padding: 30px;
}

.link {
  width: 15%;
}
/*# sourceMappingURL=main.css.map */